@import 'frontend-mv--uilib-components-movie-detail/index';

.mv-PageDetail {
  background-color: $c-primary-light-3;
  border-radius: $bdrs-xxl;
  margin: {
    top: $m-giant;
    left: auto;
    right: auto;
  }
  max-width: 1000px;
  padding: {
    top: $p-s;
    bottom: $p-xxl;
    left: $p-xxl;
    right: $p-xxl;
  }
}
